
@{
    ViewBag.Title = "Detail";
    Layout = "/Views/Shared/_Layout.cshtml";
}

@model polyurethane_website.Models.DetailModel

<div class="container">
    <div class="row" style="padding-top: 80px">
        <div class="col-md-5">
            <img src="@Model.MainImage.Url" class="img-polaroid" alt="Sample Image" style="width: 320px;height: 300px;">
        </div>
        <div class="col-md-7">
            <h2>@Model.Name</h2>
            <h4 class="muted">@Model.ShortDescription</h4>
            <p>@Model.Description</p>
            <hr>
            <h3>Ціна - @Model.Price грн</h3>
            <br>
            <p>
                <a href="#" class="btn btn-success btn-large">Додати в корзину</a>
                <a href="/order/create/@Model.Guid" class="btn btn-success btn-large">Замовити</a>
            </p>
        </div>
    </div>
    <div class="row" style="margin-bottom: 25px;"></div>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab-1">Підходить для автомобілів:</a></li>
                <li><a data-toggle="tab" href="#tab-2">Характеристики</a></li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade in active">
                    <table class="table table-striped">
                        <tbody>
                        @foreach (var car in @Model.SuitableCars)
                        {
                            <tr>
                                <td>@car.Make</td>
                                <td>@car.Model</td>
                                <td>@car.StartYear - @car.EndYear</td>
                                <td>@car.Description</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
                <div id="tab-2" class="tab-pane fade ">
                    <table class="table table-striped">
                        <tbody>
                        @foreach (var param in @Model.Params)
                        {
                            <tr>
                                <td>@param.Key</td>
                                <td>@param.Value</td>
                            </tr>    
                        }
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
    </div>
</div>


